/.openapi-generator         export-ignore
/.openapi-generator-ignore  export-ignore
/.travis.yml                export-ignore
/bin                        export-ignore
/examples                   export-ignore
/openapi-config.yaml        export-ignore
/run-build                  export-ignore
/templates                  export-ignore
/test                       export-ignore

/.php-cs-fixer.php          export-ignore
/phpunit.xml.dist           export-ignore
