openapi: 3.0.3
info:
  title: 'Dropbox Sign API'
  description: 'Dropbox Sign v3 API'
  termsOfService: 'https://www.hellosign.com/terms'
  contact:
    email: apisupport@hellosign.com
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  version: 3.0.0
servers:
  -
    url: 'https://api.hellosign.com/v3'
paths:
  /account/create:
    post:
      tags:
        - Account
      summary: 'Create Account'
      description: 'Creates a new Dropbox Sign Account that is associated with the specified `email_address`.'
      operationId: accountCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/AccountCreateRequestDefaultExample'
              oauth:
                $ref: '#/components/examples/AccountCreateRequestOAuthExample'
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCreateResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/AccountCreateResponseExample'
                oauth:
                  $ref: '#/components/examples/AccountCreateOAuthResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - account_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/AccountCreate.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/AccountCreate.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/AccountCreate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/AccountCreate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/AccountCreate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/AccountCreate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/AccountCreate.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/AccountCreate.sh
      x-meta:
        seo:
          title: 'Create Account | API Documentation | Dropbox Sign for Developers'
          description: 'The Dropbox Sign API allows you to build with a range of tools. Find out how to create a new Dropbox Sign Account using the specified `email_address` here.'
  /account:
    get:
      tags:
        - Account
      summary: 'Get Account'
      description: 'Returns the properties and settings of your Account.'
      operationId: accountGet
      parameters:
        -
          name: account_id
          in: query
          description: |-
            `account_id` or `email_address` is required. If both are provided, the account id prevails.

            The ID of the Account.
          required: false
          schema:
            type: string
        -
          name: email_address
          in: query
          description: |-
            `account_id` or `email_address` is required, If both are provided, the account id prevails.

            The email address of the Account.
          required: false
          schema:
            type: string
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/AccountGetResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - account_access
            - basic_account_info
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/AccountGet.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/AccountGet.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/AccountGet.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/AccountGet.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/AccountGet.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/AccountGet.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/AccountGet.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/AccountGet.sh
      x-meta:
        seo:
          title: 'Get Account | API Documentation | Dropbox Sign for Developers'
          description: 'The Dropbox Sign API allows you to build with a wide range of tools. To find out how to return the properties and settings of your Account, click here.'
    put:
      tags:
        - Account
      summary: 'Update Account'
      description: 'Updates the properties and settings of your Account. Currently only allows for updates to the [Callback URL](/api/reference/tag/Callbacks-and-Events) and locale.'
      operationId: accountUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/AccountUpdateRequestDefaultExample'
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/AccountUpdateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - account_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/AccountUpdate.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/AccountUpdate.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/AccountUpdate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/AccountUpdate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/AccountUpdate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/AccountUpdate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/AccountUpdate.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/AccountUpdate.sh
      x-meta:
        seo:
          title: 'Update Account | API Documentation | Dropbox Sign for Developers'
          description: 'The Dropbox Sign API allows you to build with a wide range of tools. To find out how update the properties and settings of your Account, click here.'
  /account/verify:
    post:
      tags:
        - Account
      summary: 'Verify Account'
      description: 'Verifies whether an Dropbox Sign Account exists for the given email address.'
      operationId: accountVerify
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountVerifyRequest'
            examples:
              default_example:
                $ref: '#/components/examples/AccountVerifyRequestDefaultExample'
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountVerifyResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/AccountVerifyFoundResponseExample'
                not_found:
                  $ref: '#/components/examples/AccountVerifyNotFoundResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - account_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/AccountVerify.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/AccountVerify.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/AccountVerify.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/AccountVerify.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/AccountVerify.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/AccountVerify.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/AccountVerify.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/AccountVerify.sh
      x-meta:
        seo:
          title: 'Verify Account | API Documentation | Dropbox Sign for Developers'
          description: 'The Dropbox Sign API allows you to build with a wide range of tools. To find out how to verify whether an Account exists, click here.'
  /api_app:
    post:
      tags:
        - 'Api App'
      summary: 'Create API App'
      description: 'Creates a new API App.'
      operationId: apiAppCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiAppCreateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/ApiAppCreateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApiAppCreateRequest'
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/ApiAppCreateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - api_app_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ApiAppCreate.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/ApiAppCreate.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/ApiAppCreate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ApiAppCreate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ApiAppCreate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ApiAppCreate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ApiAppCreate.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/ApiAppCreate.sh
      x-meta:
        seo:
          title: 'Create API App | API Documentation | Dropbox Sign for Developers'
          description: 'The Dropbox Sign API allows you to build custom integrations with a wide range of tools. To find out how to create a new API App, click here.'
  '/api_app/{client_id}':
    get:
      tags:
        - 'Api App'
      summary: 'Get API App'
      description: 'Returns an object with information about an API App.'
      operationId: apiAppGet
      parameters:
        -
          name: client_id
          in: path
          description: 'The client id of the API App to retrieve.'
          required: true
          schema:
            type: string
          example: 0dd3b823a682527788c4e40cb7b6f7e9
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/ApiAppGetResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - api_app_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ApiAppGet.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/ApiAppGet.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/ApiAppGet.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ApiAppGet.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ApiAppGet.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ApiAppGet.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ApiAppGet.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/ApiAppGet.sh
      x-meta:
        seo:
          title: 'Get API App | API Documentation | Dropbox Sign for Developers'
          description: 'The Dropbox Sign API allows you to build with a wide range of tools. To find out how to return an object with information about an API App, click here.'
    put:
      tags:
        - 'Api App'
      summary: 'Update API App'
      description: 'Updates an existing API App. Can only be invoked for apps you own. Only the fields you provide will be updated. If you wish to clear an existing optional field, provide an empty string.'
      operationId: apiAppUpdate
      parameters:
        -
          name: client_id
          in: path
          description: 'The client id of the API App to update.'
          required: true
          schema:
            type: string
          example: 0dd3b823a682527788c4e40cb7b6f7e9
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiAppUpdateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/ApiAppUpdateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApiAppUpdateRequest'
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/ApiAppUpdateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - api_app_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ApiAppUpdate.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/ApiAppUpdate.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/ApiAppUpdate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ApiAppUpdate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ApiAppUpdate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ApiAppUpdate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ApiAppUpdate.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/ApiAppUpdate.sh
      x-meta:
        seo:
          title: 'Update API App | API Documentation | Dropbox Sign for Developers'
          description: 'The Dropbox Sign API allows you to build custom integrations with a wide range of tools. To find out how to update an App that you own, click here.'
    delete:
      tags:
        - 'Api App'
      summary: 'Delete API App'
      description: 'Deletes an API App. Can only be invoked for apps you own.'
      operationId: apiAppDelete
      parameters:
        -
          name: client_id
          in: path
          description: 'The client id of the API App to delete.'
          required: true
          schema:
            type: string
          example: 0dd3b823a682527788c4e40cb7b6f7e9
      responses:
        204:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - api_app_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ApiAppDelete.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/ApiAppDelete.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/ApiAppDelete.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ApiAppDelete.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ApiAppDelete.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ApiAppDelete.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ApiAppDelete.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/ApiAppDelete.sh
      x-meta:
        seo:
          title: 'Delete API App | API Documentation | Dropbox Sign for Developers'
          description: 'The Dropbox Sign API allows you to build custom integrations with a wide range of tools. To find out how to delete an API App, click here.'
  /api_app/list:
    get:
      tags:
        - 'Api App'
      summary: 'List API Apps'
      description: 'Returns a list of API Apps that are accessible by you. If you are on a team with an Admin or Developer role, this list will include apps owned by teammates.'
      operationId: apiAppList
      parameters:
        -
          name: page
          in: query
          description: 'Which page number of the API App List to return. Defaults to `1`.'
          schema:
            type: integer
            default: 1
        -
          name: page_size
          in: query
          description: 'Number of objects to be returned per page. Must be between `1` and `100`. Default is `20`.'
          schema:
            type: integer
            default: 20
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAppListResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/ApiAppListResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - api_app_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ApiAppList.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/ApiAppList.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/ApiAppList.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ApiAppList.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ApiAppList.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ApiAppList.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ApiAppList.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/ApiAppList.sh
      x-meta:
        seo:
          title: 'List API Apps | API Documentation | Dropbox Sign for Developers'
          description: 'The Dropbox Sign API allows you to build with a wide range of tools. To find out how to return a list of API Apps that are accessible by you, click here.'
  '/bulk_send_job/{bulk_send_job_id}':
    get:
      tags:
        - 'Bulk Send Job'
      summary: 'Get Bulk Send Job'
      description: 'Returns the status of the BulkSendJob and its SignatureRequests specified by the `bulk_send_job_id` parameter.'
      operationId: bulkSendJobGet
      parameters:
        -
          name: bulk_send_job_id
          in: path
          description: 'The id of the BulkSendJob to retrieve.'
          required: true
          schema:
            type: string
          example: 6e683bc0369ba3d5b6f43c2c22a8031dbf6bd174
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/BulkSendJobGetResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/BulkSendJobGet.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/BulkSendJobGet.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/BulkSendJobGet.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/BulkSendJobGet.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/BulkSendJobGet.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/BulkSendJobGet.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/BulkSendJobGet.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/BulkSendJobGet.sh
      x-meta:
        seo:
          title: 'Get Bulk Send Job | API Documentation | Dropbox Sign for Developers'
          description: 'The Dropbox Sign API allows you to build custom integrations. To find out how to return the status of the BulkSendJob and SignatureRequests, click here.'
  /bulk_send_job/list:
    get:
      tags:
        - 'Bulk Send Job'
      summary: 'List Bulk Send Jobs'
      description: 'Returns a list of BulkSendJob that you can access.'
      operationId: bulkSendJobList
      parameters:
        -
          name: page
          in: query
          description: 'Which page number of the BulkSendJob List to return. Defaults to `1`.'
          schema:
            type: integer
            default: 1
        -
          name: page_size
          in: query
          description: 'Number of objects to be returned per page. Must be between `1` and `100`. Default is 20.'
          schema:
            type: integer
            default: 20
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobListResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/BulkSendJobListResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/BulkSendJobList.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/BulkSendJobList.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/BulkSendJobList.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/BulkSendJobList.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/BulkSendJobList.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/BulkSendJobList.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/BulkSendJobList.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/BulkSendJobList.sh
      x-meta:
        seo:
          title: 'List Bulk Send Jobs | Documentation | Dropbox Sign for Developers'
          description: 'The Dropbox Sign API allows you to build custom integrations. To find out how to return a list of BulkSendJob that you can access, click here.'
  '/embedded/edit_url/{template_id}':
    post:
      tags:
        - Embedded
      summary: 'Get Embedded Template Edit URL'
      description: 'Retrieves an embedded object containing a template url that can be opened in an iFrame. Note that only templates created via the embedded template process are available to be edited with this endpoint.'
      operationId: embeddedEditUrl
      parameters:
        -
          name: template_id
          in: path
          description: 'The id of the template to edit.'
          required: true
          schema:
            type: string
          example: f57db65d3f933b5316d398057a36176831451a35
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddedEditUrlRequest'
            examples:
              default_example:
                $ref: '#/components/examples/EmbeddedEditUrlRequestDefaultExample'
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedEditUrlResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/EmbeddedEditUrlResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - template_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/EmbeddedEditUrl.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/EmbeddedEditUrl.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/EmbeddedEditUrl.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/EmbeddedEditUrl.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/EmbeddedEditUrl.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/EmbeddedEditUrl.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/EmbeddedEditUrl.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/EmbeddedEditUrl.sh
      x-meta:
        seo:
          title: 'Get Embedded Template URL | iFrame | Dropbox Sign for Developers'
          description: 'The Dropbox Sign API allows you to build custom integrations. To find out how to retrieve an embedded iFrame object containing a template url, click here.'
  '/embedded/sign_url/{signature_id}':
    get:
      tags:
        - Embedded
      summary: 'Get Embedded Sign URL'
      description: 'Retrieves an embedded object containing a signature url that can be opened in an iFrame. Note that templates created via the embedded template process will only be accessible through the API.'
      operationId: embeddedSignUrl
      parameters:
        -
          name: signature_id
          in: path
          description: 'The id of the signature to get a signature url for.'
          required: true
          schema:
            type: string
          example: 50e3542f738adfa7ddd4cbd4c00d2a8ab6e4194b
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedSignUrlResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/EmbeddedSignUrlResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/EmbeddedSignUrl.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/EmbeddedSignUrl.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/EmbeddedSignUrl.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/EmbeddedSignUrl.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/EmbeddedSignUrl.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/EmbeddedSignUrl.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/EmbeddedSignUrl.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/EmbeddedSignUrl.sh
      x-meta:
        seo:
          title: 'Get Embedded Sign URL | iFrame | Dropbox Sign for Developers'
          description: 'The Dropbox Sign API allows you to build custom integrations. To find out how to retrieve an embedded iFrame object containing a signature url, click here.'
  /oauth/token:
    post:
      tags:
        - OAuth
      summary: 'OAuth Token Generate'
      description: 'Once you have retrieved the code from the user callback, you will need to exchange it for an access token via a backend call.'
      operationId: oauthTokenGenerate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthTokenGenerateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/OAuthTokenGenerateRequestExample'
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/OAuthTokenGenerateResponseExample'
      security: []
      servers:
        -
          url: 'https://app.hellosign.com'
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/OauthTokenGenerate.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/OauthTokenGenerate.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/OauthTokenGenerate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/OauthTokenGenerate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/OauthTokenGenerate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/OauthTokenGenerate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/OauthTokenGenerate.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/OauthTokenGenerate.sh
      x-hideTryItPanel: true
      x-meta:
        seo:
          title: 'Generate OAuth Token | Documentation | Dropbox Sign for Developers'
          description: 'The RESTful Dropbox Sign API easily allows you to build custom eSign integrations. To find out how to generate a new OAuth token with the API, click here.'
  '/oauth/token?refresh':
    post:
      tags:
        - OAuth
      summary: 'OAuth Token Refresh'
      description: 'Access tokens are only valid for a given period of time (typically one hour) for security reasons. Whenever acquiring an new access token its TTL is also given (see `expires_in`), along with a refresh token that can be used to acquire a new access token after the current one has expired.'
      operationId: oauthTokenRefresh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthTokenRefreshRequest'
            examples:
              default_example:
                $ref: '#/components/examples/OAuthTokenRefreshRequestExample'
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/OAuthTokenRefreshResponseExample'
      security: []
      servers:
        -
          url: 'https://app.hellosign.com'
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/OauthTokenRefresh.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/OauthTokenRefresh.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/OauthTokenRefresh.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/OauthTokenRefresh.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/OauthTokenRefresh.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/OauthTokenRefresh.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/OauthTokenRefresh.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/OauthTokenRefresh.sh
      x-hideTryItPanel: true
      x-meta:
        seo:
          title: 'OAuth Token Refresh | Documentation | Dropbox Sign for Developers'
          description: 'The RESTful Dropbox Sign API easily allows you to build custom eSign integrations. To find out how to refresh your OAuth token with the API, click here.'
  /report/create:
    post:
      tags:
        - Report
      summary: 'Create Report'
      description: |-
        Request the creation of one or more report(s).

        When the report(s) have been generated, you will receive an email (one per requested report type) containing a link to download the report as a CSV file. The requested date range may be up to 12 months in duration, and `start_date` must not be more than 10 years in the past.
      operationId: reportCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportCreateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/ReportCreateRequestDefaultExample'
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportCreateResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/ReportCreateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/ReportCreate.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/ReportCreate.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/ReportCreate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/ReportCreate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/ReportCreate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/ReportCreate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/ReportCreate.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/ReportCreate.sh
      x-meta:
        seo:
          title: 'Create Report | API Documentation | Dropbox Sign for Developers'
          description: 'The RESTful Dropbox Sign API easily allows you to build custom eSign integrations. To find out how to request the creation of one or more reports, click here.'
  /signature_request/bulk_create_embedded_with_template:
    post:
      tags:
        - 'Signature Request'
      summary: 'Embedded Bulk Send with Template'
      description: |-
        Creates BulkSendJob which sends up to 250 SignatureRequests in bulk based off of the provided Template(s) specified with the `template_ids` parameter to be signed in an embedded iFrame. These embedded signature requests can only be signed in embedded iFrames whereas normal signature requests can only be signed on Dropbox Sign.

        **NOTE**: Only available for Standard plan and higher.
      operationId: signatureRequestBulkCreateEmbeddedWithTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkCreateEmbeddedWithTemplateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestBulkCreateEmbeddedWithTemplateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkCreateEmbeddedWithTemplateRequest'
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobSendResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestBulkCreateEmbeddedWithTemplateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplate.sh
      x-meta:
        seo:
          title: 'Embedded Bulk Send with Template | Dropbox Sign for Developers'
          description: 'The RESTful Dropbox Sign API allows you to build custom integrations. To find out how to create embedded BulkSendJob signature requests, click here.'
  /signature_request/bulk_send_with_template:
    post:
      tags:
        - 'Signature Request'
      summary: 'Bulk Send with Template'
      description: |-
        Creates BulkSendJob which sends up to 250 SignatureRequests in bulk based off of the provided Template(s) specified with the `template_ids` parameter.

        **NOTE**: Only available for Standard plan and higher.
      operationId: signatureRequestBulkSendWithTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkSendWithTemplateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestBulkSendWithTemplateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkSendWithTemplateRequest'
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobSendResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestBulkSendWithTemplateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplate.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplate.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplate.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestBulkSendWithTemplate.sh
      x-meta:
        seo:
          title: 'Bulk Send with Template | REST API | Dropbox Sign for Developers'
          description: 'The RESTful Dropbox Sign API allows you to build custom integrations. To find out how to create BulkSendJob for up to 250 signature requests, click here.'
  '/signature_request/cancel/{signature_request_id}':
    post:
      tags:
        - 'Signature Request'
      summary: 'Cancel Incomplete Signature Request'
      description: |-
        Cancels an incomplete signature request. This action is **not reversible**.

        The request will be canceled and signers will no longer be able to sign. If they try to access the signature request they will receive a HTTP 410 status code indicating that the resource has been deleted. Cancelation is asynchronous and a successful call to this endpoint will return an empty 200 OK response if the signature request is eligible to be canceled and has been successfully queued.

        This 200 OK response does not indicate a successful cancelation of the signature request itself. The cancelation is confirmed via the `signature_request_canceled` event. It is recommended that a  [callback handler](/api/reference/tag/Callbacks-and-Events) be implemented to listen for the `signature_request_canceled` event. This callback will be sent only when the cancelation has completed successfully. If a callback handler has been configured and the event has not been received within 60 minutes of making the call, check the status of the request in the [API Dashboard](https://app.hellosign.com/apidashboard) and retry the cancelation if necessary.

        To be eligible for cancelation, a signature request must have been sent successfully, must not yet have been signed by all signers, and you must either be the sender or own the API app under which it was sent. A partially signed signature request can be canceled.

        **NOTE**: To remove your access to a completed signature request, use the endpoint: `POST /signature_request/remove/[:signature_request_id]`.
      operationId: signatureRequestCancel
      parameters:
        -
          name: signature_request_id
          in: path
          description: 'The id of the incomplete SignatureRequest to cancel.'
          required: true
          schema:
            type: string
          example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json: {}
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                410_example:
                  $ref: '#/components/examples/Error410ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestCancel.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestCancel.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestCancel.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestCancel.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestCancel.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestCancel.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestCancel.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestCancel.sh
      x-meta:
        seo:
          title: 'Cancel Incomplete Signature Request | Dropbox Sign for Developers'
          description: 'The RESTful Dropbox Sign API easily allows you to build custom eSign integrations. To find out how to cancel an incomplete signature request, click here.'
  /signature_request/create_embedded:
    post:
      tags:
        - 'Signature Request'
      summary: 'Create Embedded Signature Request'
      description: 'Creates a new SignatureRequest with the submitted documents to be signed in an embedded iFrame. If form_fields_per_document is not specified, a signature page will be affixed where all signers will be required to add their signature, signifying their agreement to all contained documents. <u>Note</u> that embedded signature requests can only be signed in embedded iFrames whereas normal signature requests can only be signed on Dropbox Sign.'
      operationId: signatureRequestCreateEmbedded
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestCreateEmbeddedRequestDefaultExample'
              grouped_signers_example:
                $ref: '#/components/examples/SignatureRequestCreateEmbeddedRequestGroupedSignersExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedRequest'
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestCreateEmbeddedResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestCreateEmbedded.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestCreateEmbedded.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestCreateEmbedded.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestCreateEmbedded.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestCreateEmbedded.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestCreateEmbedded.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestCreateEmbedded.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestCreateEmbedded.sh
      x-meta:
        seo:
          title: 'Create Embedded Signature Request | Dropbox Sign for Developers'
          description: 'The RESTful Dropbox Sign API easily allows you to build custom integrations. To find out how to create a new SignatureRequest in an iFrame, click here.'
  /signature_request/create_embedded_with_template:
    post:
      tags:
        - 'Signature Request'
      summary: 'Create Embedded Signature Request with Template'
      description: 'Creates a new SignatureRequest based on the given Template(s) to be signed in an embedded iFrame. <u>Note</u> that embedded signature requests can only be signed in embedded iFrames whereas normal signature requests can only be signed on Dropbox Sign.'
      operationId: signatureRequestCreateEmbeddedWithTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedWithTemplateRequest'
            examples:
              default_example:
                $ref: '#/components/examples/SignatureRequestCreateEmbeddedWithTemplateRequestDefaultExample'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedWithTemplateRequest'
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestCreateEmbeddedWithTemplateResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestCreateEmbeddedWithTemplate.sh
      x-meta:
        seo:
          title: 'Signature Request with Template | Dropbox Sign for Developers'
          description: 'The Dropbox Sign API allows you to build custom integrations. To find out how to create a new SignatureRequest based on the given Template, click here.'
  '/signature_request/files/{signature_request_id}':
    get:
      tags:
        - 'Signature Request'
      summary: 'Download Files'
      description: |-
        Obtain a copy of the current documents specified by the `signature_request_id` parameter. Returns a PDF or ZIP file.

        If the files are currently being prepared, a status code of `409` will be returned instead.
      operationId: signatureRequestFiles
      parameters:
        -
          name: signature_request_id
          in: path
          description: 'The id of the SignatureRequest to retrieve.'
          required: true
          schema:
            type: string
          example: fa5c8a0b0f492d768749333ad6fcc214c111e967
        -
          name: file_type
          in: query
          description: 'Set to `pdf` for a single merged document or `zip` for a collection of individual documents.'
          schema:
            type: string
            default: pdf
            enum:
              - pdf
              - zip
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            application/zip:
              schema:
                type: string
                format: binary
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                410_example:
                  $ref: '#/components/examples/Error410ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
            - request_signature
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestFiles.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestFiles.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestFiles.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestFiles.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestFiles.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestFiles.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestFiles.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestFiles.sh
      x-meta:
        seo:
          title: 'Download Files | API Documentation | Dropbox Sign for Developers'
          description: 'The RESTful Dropbox Sign API allows you to build custom integrations. To find out how to get the current documents specified by the parameters, click here'
  '/signature_request/files_as_data_uri/{signature_request_id}':
    get:
      tags:
        - 'Signature Request'
      summary: 'Download Files as Data Uri'
      description: |-
        Obtain a copy of the current documents specified by the `signature_request_id` parameter. Returns a JSON object with a `data_uri` representing the base64 encoded file (PDFs only).

        If the files are currently being prepared, a status code of `409` will be returned instead.
      operationId: signatureRequestFilesAsDataUri
      parameters:
        -
          name: signature_request_id
          in: path
          description: 'The id of the SignatureRequest to retrieve.'
          required: true
          schema:
            type: string
          example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponseDataUri'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestFilesResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                410_example:
                  $ref: '#/components/examples/Error410ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
            - request_signature
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestFilesAsDataUri.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestFilesAsDataUri.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestFilesAsDataUri.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestFilesAsDataUri.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestFilesAsDataUri.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestFilesAsDataUri.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestFilesAsDataUri.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestFilesAsDataUri.sh
      x-meta:
        seo:
          title: 'Download Files | API Documentation | Dropbox Sign for Developers'
          description: 'The RESTful Dropbox Sign API allows you to build custom integrations. To find out how to get the current documents specified by the parameters, click here'
  '/signature_request/files_as_file_url/{signature_request_id}':
    get:
      tags:
        - 'Signature Request'
      summary: 'Download Files as File Url'
      description: |-
        Obtain a copy of the current documents specified by the `signature_request_id` parameter. Returns a JSON object with a url to the file (PDFs only).

        If the files are currently being prepared, a status code of `409` will be returned instead.
      operationId: signatureRequestFilesAsFileUrl
      parameters:
        -
          name: signature_request_id
          in: path
          description: 'The id of the SignatureRequest to retrieve.'
          required: true
          schema:
            type: string
          example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestFilesResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                410_example:
                  $ref: '#/components/examples/Error410ResponseExample'
                429_example:
                  $ref: '#/components/examples/Error429ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
            - request_signature
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestFilesAsFileUrl.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestFilesAsFileUrl.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestFilesAsFileUrl.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestFilesAsFileUrl.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestFilesAsFileUrl.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestFilesAsFileUrl.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestFilesAsFileUrl.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestFilesAsFileUrl.sh
      x-meta:
        seo:
          title: 'Download Files | API Documentation | Dropbox Sign for Developers'
          description: 'The RESTful Dropbox Sign API allows you to build custom integrations. To find out how to get the current documents specified by the parameters, click here'
  '/signature_request/{signature_request_id}':
    get:
      tags:
        - 'Signature Request'
      summary: 'Get Signature Request'
      description: 'Returns the status of the SignatureRequest specified by the `signature_request_id` parameter.'
      operationId: signatureRequestGet
      parameters:
        -
          name: signature_request_id
          in: path
          description: 'The id of the SignatureRequest to retrieve.'
          required: true
          schema:
            type: string
          example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestGetResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                410_example:
                  $ref: '#/components/examples/Error410ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestGet.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestGet.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestGet.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestGet.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestGet.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestGet.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestGet.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestGet.sh
      x-meta:
        seo:
          title: 'Get Signature Request | Documentation | Dropbox Sign for Developers'
          description: 'The Dropbox Sign API allows you to build custom integrations. To find out how to return the status of SignatureRequest specified by the parameters, click here.'
  /signature_request/list:
    get:
      tags:
        - 'Signature Request'
      summary: 'List Signature Requests'
      description: |-
        Returns a list of SignatureRequests that you can access. This includes SignatureRequests you have sent as well as received, but not ones that you have been CCed on.

        Take a look at our [search guide](/api/reference/search/) to learn more about querying signature requests.
      operationId: signatureRequestList
      parameters:
        -
          name: account_id
          in: query
          description: 'Which account to return SignatureRequests for. Must be a team member. Use `all` to indicate all team members. Defaults to your account.'
          schema:
            type: string
        -
          name: page
          in: query
          description: 'Which page number of the SignatureRequest List to return. Defaults to `1`.'
          schema:
            type: integer
            default: 1
            example: 1
        -
          name: page_size
          in: query
          description: 'Number of objects to be returned per page. Must be between `1` and `100`. Default is `20`.'
          schema:
            type: integer
            default: 20
        -
          name: query
          in: query
          description: 'String that includes search terms and/or fields to be used to filter the SignatureRequest objects.'
          schema:
            type: string
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestListResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestListResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                409_example:
                  $ref: '#/components/examples/Error409ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - request_signature
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestList.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestList.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestList.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestList.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestList.java
        -
          lang: Ruby
          label: Ruby
          source:
            $ref: examples/SignatureRequestList.rb
        -
          lang: Python
          label: Python
          source:
            $ref: examples/SignatureRequestList.py
        -
          lang: cURL
          label: cURL
          source:
            $ref: examples/SignatureRequestList.sh
      x-meta:
        seo:
          title: 'List Signature Requests | REST API | Dropbox Sign for Developers'
          description: 'The Dropbox Sign API allows you to build custom integrations. To find out how to return a list of SignatureRequests that you can access, click here.'
  '/signature_request/release_hold/{signature_request_id}':
    post:
      tags:
        - 'Signature Request'
      summary: 'Release On-Hold Signature Request'
      description: 'Releases a held SignatureRequest that was claimed and prepared from an [UnclaimedDraft](/api/reference/tag/Unclaimed-Draft). The owner of the Draft must indicate at Draft creation that the SignatureRequest created from the Draft should be held. Releasing the SignatureRequest will send requests to all signers.'
      operationId: signatureRequestReleaseHold
      parameters:
        -
          name: signature_request_id
          in: path
          description: 'The id of the SignatureRequest to release.'
          required: true
          schema:
            type: string
          example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        200:
          description: 'successful operation'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                default_example:
                  $ref: '#/components/examples/SignatureRequestReleaseHoldResponseExample'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400ResponseExample'
                401_example:
                  $ref: '#/components/examples/Error401ResponseExample'
                402_example:
                  $ref: '#/components/examples/Error402ResponseExample'
                403_example:
                  $ref: '#/components/examples/Error403ResponseExample'
                404_example:
                  $ref: '#/components/examples/Error404ResponseExample'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponseExample'
      security:
        -
          api_key: []
        -
          oauth2:
            - signature_request_access
      x-codeSamples:
        -
          lang: PHP
          label: PHP
          source:
            $ref: examples/SignatureRequestReleaseHold.php
        -
          lang: 'C#'
          label: 'C#'
          source:
            $ref: examples/SignatureRequestReleaseHold.cs
        -
          lang: JavaScript
          label: JavaScript
          source:
            $ref: examples/SignatureRequestReleaseHold.js
        -
          lang: TypeScript
          label: TypeScript
          source:
            $ref: examples/SignatureRequestReleaseHold.ts
        -
          lang: Java
          label: Java
          source:
            $ref: examples/SignatureRequestReleaseHold.java
        -
          lang: Ruby
[...]
