<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"  bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="HelloSign Test Suite">
            <directory>./library/HelloSign/Test/</directory>
        </testsuite>
    </testsuites>
    <php>
      // remmeber that these tests are destructive and require some paid subscriptions
      // See details in https://github.com/HelloFax/hellosign-php-sdk/blob/v3/README.md#testing
      // enter your API Key and Client Id with caution!
      <env name="API_KEY" value=""/>
      <env name="CLIENT_ID" value=""/>
      <env name="CLIENT_SECRET" value=""/>
      <env name="CALLBACK_URL" value="http://example.com/callback"/>
    </php>
    <php>
      <env name="API_URL" value="https://api.hellosign.com/v3/"/>
      <env name="OAUTH_TOKEN_URL" value="https://app.hellosign.com/oauth/token"/>
    </php>
</phpunit>
