<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"  bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="HelloSign Test Suite">
            <directory>./library/HelloSign/Test/</directory>
        </testsuite>
    </testsuites>
    <php>
      <env name="API_KEY" value="dfc614a275bface76c3a5a5187e31605391137fa255db92be4ca4aa8a5791cb2"/>
      <env name="CLIENT_ID" value="653543f86ec9cb775eefa51bb19bcc40"/>
      <env name="CLIENT_SECRET" value="f379c55e6a85f61f2288f20d8c0f3859"/>
      <env name="CALLBACK_URL" value="http://example.com/callback"/>
    </php>
    <php>
      <env name="API_URL" value="https://api.hellosign.com/v3/"/>
      <env name="OAUTH_TOKEN_URL" value="https://app.hellosign.com/oauth/token"/>
    </php>
</phpunit>
